In [54]:
import pandas as pd
from sklearn.cluster import MeanShift
import numpy as np
from collections import Counter

In [47]:
clustering = MeanShift()
df = pd.read_csv("./umn_foursquare_datasets/checkins.dat", sep='|',skiprows=[1])
df = df.loc[df[u'     latitude      '].notnull() & df['     longitude     '].notnull(),].loc[:100000,:]


df=df.rename(columns={col:col.strip() for col in df.columns})

df['latitude'] = df['latitude'].apply(lambda x: x.strip())
df['longitude'] = df['longitude'].apply(lambda x: x.strip())

df=df[~ (df[[u'latitude', u'longitude']]=='').any(1)]

# data = pd.DataFrame(
#     {
#         "lat":df['latitude'],#.astype(np.float),
#         "lon":df['longitude']#.apply(np.float)
#     }
# )

df["latitude"] = df["latitude"].apply(pd.to_numeric, errors='ignore')
df["longitude"] = df["longitude"].apply(pd.to_numeric, errors='ignore')

In [48]:
df

,id,user_id,venue_id,latitude,longitude,created_at
1,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
3,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
7,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
10,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18
11,984483,1030290.0,955969.0,32.221743,-110.926479,2012-04-21 17:58:54
12,984685,304253.0,23558.0,40.650000,-73.950000,2012-04-21 18:19:34
13,984470,720850.0,749715.0,33.448377,-112.074037,2012-04-21 17:02:47
15,984610,1639666.0,442605.0,33.414768,-111.909309,2012-04-21 18:04:58
18,984653,1647192.0,23558.0,42.358431,-71.059773,2012-04-21 18:23:22
19,984251,298547.0,77014.0,33.448377,-112.074037,2012-04-21 17:34:33
20,984528,2046311.0,15682.0,33.414768,-111.909309,2012-04-21 18:18:29
25,984438,2096701.0,4432.0,33.448377,-112.074037,2012-04-21 18:21:19
26,984277,1648816.0,18006.0,33.248664,-111.634299,2012-04-21 17:49:30
27,984320,349414.0,819.0,32.840678,-117.258794,2012-04-21 17:27:36
29,984359,1861538.0,819.0,34.052234,-118.243685,2012-04-21 17:18:22
34,984294,1447044.0,1135957.0,33.414768,-111.909309,2012-04-21 17:33:12
35,984336,2064557.0,111071.0,33.448377,-112.074037,2012-04-21 16:25:00
38,984527,1243334.0,989443.0,34.483901,-114.322455,2012-04-21 18:22:59
40,984326,2046338.0,989443.0,34.048928,-111.093731,2012-04-21 17:56:27
41,984454,2098254.0,610703.0,32.715329,-117.157255,2012-04-21 17:49:30
42,984395,1508584.0,410624.0,33.448377,-112.074037,2012-04-21 17:58:10
46,984231,1868751.0,21948.0,38.895112,-77.036366,2012-04-21 15:53:38
47,984322,1096457.0,10935.0,33.745851,-117.826166,2012-04-21 18:10:08
49,984474,2146888.0,10935.0,34.096111,-118.105833,2012-04-21 17:39:56
50,984355,966186.0,10935.0,34.052234,-118.243685,2012-04-21 18:03:47
52,984345,482032.0,10935.0,37.629349,-122.400087,2012-04-21 18:04:38
53,984508,2146895.0,10935.0,4.598056,-74.075833,2012-04-21 17:38:25
54,984381,28655.0,10935.0,33.804167,-118.158056,2012-04-21 17:59:40
55,984346,2098173.0,11195.0,40.735657,-74.172367,2012-04-21 18:17:31
...,...,...,...,...,...,...
99907,457414,798416.0,282224.0,43.038902,-87.906474,2012-01-24 06:44:06
99908,455852,274763.0,7620.0,34.052234,-118.243685,2012-01-24 06:56:53
99910,457465,330601.0,7918.0,40.762046,-73.738187,2012-01-24 06:27:09
99914,457381,850310.0,301579.0,-6.211544,106.845172,2012-01-24 06:57:08
99915,457193,41475.0,158026.0,41.878114,-87.629798,2012-01-24 07:09:09
99923,457595,1220547.0,108274.0,43.652500,-79.381667,2012-01-24 05:40:11
99927,31551,739344.0,63070.0,40.714353,-74.005973,2011-12-09 16:03:44
99934,33322,317744.0,219611.0,40.944543,-74.075419,2011-12-09 14:48:56
99939,458047,731901.0,9822.0,40.058324,-74.405661,2012-01-24 09:09:30
99945,457713,195118.0,107670.0,37.798577,-122.424653,2012-01-24 06:41:16
99946,457719,230082.0,70567.0,34.000710,-81.034814,2012-01-24 08:43:03
99947,33727,430282.0,760.0,41.878114,-87.629798,2011-12-09 16:10:14
99949,457634,1023209.0,10936.0,40.857044,-74.021529,2012-01-24 08:35:00
99950,457679,398707.0,60.0,27.724722,-82.741944,2012-01-24 08:40:39
99951,457749,644785.0,810.0,34.090009,-118.361744,2012-01-24 08:46:31
99956,457680,398707.0,60.0,27.724722,-82.741944,2012-01-24 08:40:39
99961,457935,803404.0,7284.0,36.323107,-86.713330,2012-01-24 09:01:43
99964,457936,272741.0,379185.0,3.585242,98.675598,2012-01-24 06:14:08
99966,457826,155616.0,451269.0,60.205235,24.654081,2012-01-24 08:20:58
99967,457844,697738.0,12669.0,-7.265278,112.742500,2012-01-24 07:52:57
99968,457845,50847.0,21821.0,-6.158497,106.747054,2012-01-24 07:48:25
99973,25511,707348.0,109115.0,34.018490,-85.253464,2011-12-09 11:12:17
99976,26514,707348.0,2297.0,34.018490,-85.253464,2011-12-09 14:00:36
99980,457957,894515.0,186791.0,37.548270,-121.988572,2012-01-24 06:37:16
99984,749846,1247991.0,253234.0,32.715329,-117.157255,2012-03-18 21:01:50
99986,458226,28340.0,100745.0,34.052234,-118.243685,2012-01-24 06:37:05
99988,458369,408824.0,85300.0,35.149534,-90.048980,2012-01-24 08:20:02
99990,458102,190476.0,17177.0,51.759248,19.455983,2012-01-24 08:26:00
99991,458227,1151772.0,7049.0,36.114646,-115.172816,2012-01-24 06:33:46
99992,458233,1309072.0,5914.0,39.952335,-75.163789,2012-01-24 07:52:12

In [49]:
clustering.fit(df[[u'latitude', u'longitude']])

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [50]:
clustering.cluster_centers_

array([[  39.15243019,  -79.9229138 ],
       [  35.66751357, -115.26468594],
       [  50.09392785,    3.8505934 ],
       [  -5.06000002,  107.35464047],
       [ -24.55209123,  -47.82273966],
       [  27.67179617,  121.45579378],
       [  -0.34355106,   36.5556421 ],
       [  21.10643325, -157.50709945],
       [  15.13021347,  -68.47056876],
       [  29.30808302,   42.20855989],
       [ -34.45745856,  149.40721106],
       [  61.27960529, -148.89936404],
       [ -33.72367054,  -62.87812805],
       [  -0.88880902,  -77.91388456],
       [  19.34735175,   79.36585508],
       [ -30.77720589,   24.59628067],
       [ -38.41638574,  174.01883603],
       [  55.75927172,   90.39335887],
       [ -31.66687253,  117.27785207],
       [   6.3625    ,    2.4255    ],
       [  63.9126321 ,  -22.1916474 ],
       [  56.837814  ,   60.596842  ],
       [  -3.7183943 ,  -38.5433948 ]])

In [55]:
ctr=Counter(clustering.labels_)

In [58]:
ctr.values()

[25834,
 22553,
 488,
 460,
 123,
 149,
 94,
 94,
 54,
 81,
 39,
 41,
 34,
 35,
 23,
 9,
 8,
 4,
 4,
 1,
 1,
 29,
 1]

In [62]:
result = filter(lambda x: x[0]>15, zip(ctr.values(), clustering.cluster_centers_))

In [69]:
result

[(25834, array([ 39.15243019, -79.9229138 ])),
 (22553, array([  35.66751357, -115.26468594])),
 (488, array([50.09392785,  3.8505934 ])),
 (460, array([ -5.06000002, 107.35464047])),
 (123, array([-24.55209123, -47.82273966])),
 (149, array([ 27.67179617, 121.45579378])),
 (94, array([-0.34355106, 36.5556421 ])),
 (94, array([  21.10643325, -157.50709945])),
 (54, array([ 15.13021347, -68.47056876])),
 (81, array([29.30808302, 42.20855989])),
 (39, array([-34.45745856, 149.40721106])),
 (41, array([  61.27960529, -148.89936404])),
 (34, array([-33.72367054, -62.87812805])),
 (35, array([ -0.88880902, -77.91388456])),
 (23, array([19.34735175, 79.36585508])),
 (29, array([56.837814, 60.596842]))]

In [66]:
# with open("result.txt",'w') as fout:
#     for item in result:
#         fout.write(str(item[1][0]) + " " + str(item[1][0])+"\n")

In [68]:
offices = [
    ("Los Angeles", (33.751277, -118.188740)),
    ("Miami", (25.867736, -80.324116)),
    ("London", (51.503016, -0.075479)),
    ("Amsterdam", (52.378894, 4.885084)),
    ("Beijing", (39.366487, 117.036146)),
    ("Sydney", (-33.868457, 151.205134))
]

In [72]:
min_dist=None
min_clust=None
for res in result:
    for of in offices:
        if not min_dist:
            min_dist = (res[1][0]-of[1][0])**2+(res[1][1]-of[1][1])**2
            min_clust = res[1]
        else:
            dist = (res[1][0]-of[1][0])**2+(res[1][1]-of[1][1])**2
            if dist<min_dist:
                min_dist = dist
                min_clust = res[1]

In [73]:
min_clust

array([-34.45745856, 149.40721106])

In [74]:
with open("result.txt",'w') as fout:
    fout.write("-34.45745856 149.40721106")